Names are in alphabetical order:

António P. P. Almeida (appa [at] perusio [dot] net)
Charles Chen (weiyue [at] taobao [dot] com)
Xiaojiang Chen (zhongsheng.cxj [at] taobao [dot] com)
Yunxing Chen (yunxing.cyx [at] taobao [dot] com)
Zhen Chen (gongyuan.cz [at] taobao [dot] com)
Shanyuan Gao (kangbo [at] taobao [dot] com)
Steve Peng (jinglong.pq [at] taobao [dot] com)
Feibo Li (lizi [at] taobao [dot] com)
Simon Liu (diaoliang [at] taobao [dot] com)
Yang Tian (lieyuan [at] taobao [dot] com)
Xiaozhe "chaoslawful" Wang (chaoslawful [at] gmail [dot] com)
Xiaowei Wu (yixiao.wxw [at] taobao [dot] com)
Junmin Xiong (xiongjunmin.pt [at] taobao [dot] com)
Zhuo Yuan (yuanzhuo.pt [at] taobao [dot] com)
Weibin Yao (wenjing.ywb [at] taobao [dot] com)
Zhang "agentzh" Yichun (agentzh [at] gmail [dot] com)
Lanshun Zhou (zls.sogou [at] gmail [dot] com)
Joshua Zhu (shudu [at] taobao [dot] com)
