
Changes with Tengine 1.2.4                                         30 Mar 2012

    *) Feature: added the user_agent module. (Junmin Xiong)

    *) Feature: added the 'log_escape' directive. (agentzh, Yixiao)

    *) Change: merged changes between nginx-1.0.12 and nginx-1.0.14. (Shudu)

    *) Bugfix: fixed a bug in the limit_req module. (liseen.wan)

    *) Bugfix: fixed a bug in subrequest. (Lizi)


Changes with Tengine 1.2.3                                         27 Feb 2012

    *) Feature: added the 'request_time_cache' directive to get more precise
       $request_time/$request_time_msec/$request_time_usec. (Yuanzhuo)

    *) Feature: added the slice module. (Shudu)

    *) Change: merged changes between nginx-1.0.11 and nginx-1.0.12. (Shudu)

    *) Change: deleted unused browsers detection. (Shudu)

    *) Bugfix: fixed a bug in upstream when reading header. (Lizi)

    *) Bugfix: fixed a bug in 'expires_by_types'. (Lizi)


Changes with Tengine 1.2.2                                         11 Jan 2012

    *) Feature: added the input body filter mechanism. (Weiyue)

    *) Feature: added SSL dialog support to the mail module. (Weiyue)

    *) Change: merged changes between nginx-1.0.10 and nginx-1.0.11. (Shudu)

    *) Change: turned 'lingering_close' off by default. (Shudu)

    *) Bugfix: fixed a bug in pipe logs. (Weiyue)

    *) Bugfix: fixed a 'forbid_action' bug in the limit_req module. (Diaoliang)

    *) Bugfix: fixed a bug in 'backtrace_max_stack_size'. (Diaoliang)

    *) Bugfix: fixed a bug in the footer module when output body is empty.
       (Junmin Xiong)

    *) Bugfix: fixed the last hostname letter omitted bug in syslog. (Weiyue)


Changes with Tengine 1.2.1                                         06 Dev 2011

    *) Bugfix: fixed a segmentation fault bug when using default error log
       or access log. (Yuanzhuo)


Changes with Tengine 1.2.0                                         29 Nov 2011

    *) This is the first public release.

    *) Feature: added syslog support to error_log and access_log. (Weiyue)

    *) Feature: added pipe support to error_log and access_log. (Weiyue)

    *) Feature: added realloc() related APIs. (Gongyuan)

    *) Feature: added time specific variables. (Yixiao)

    *) Feature: added the backtrace module. (Diaoliang)

    *) Feature: added whitelist support to the limit_req module. (Diaoliang)

    *) Feature: now more limit_req directives are allowed in a single location.
       (Diaoliang)

    *) Feature: added the sysguard module. (Lizi)

    *) Feature: added two APIs, ngx_http_header_in and ngx_http_header_out.
       (Lizi)

    *) Feature: added two variables, $request_time_msec and $request_time_usec.
       (Jinglong)

    *) Feature: added the footer module. (Yunxing)

    *) Feature: added the $conn_requests variable which is similar to Apache's
       '%K'. (Lieyuan)

    *) Feature: added the $host_comment variable. (Yunxing)

    *) Feature: added a 'ratio' parameter to access_log so now access log can be
       sampled. (Weiyue)

    *) Feature: added the 'server_info' and 'server_admin' directives to show
       more information when 4xx/5xx errors encountered. (Lieyuan)

    *) Feature: added the '-d' command line option to dump contents of
       the configuration files. (Piaoling)

    *) Feature: added response time statistics to the stub_status module.
       (Jinglong)

    *) Feature: added the 'server_tag' directive. (Shudu)

    *) Feature: now the 'worker_processes' supports the 'auto' parameter, which
       sets the worker process numbers to the cores automatically. (Weiyue)

    *) Feature: now the 'worker_cpu_affinity' directive supports the 'auto'
       parameter, which binds the worker processes to the cores automatically.
       (Weiyue)

    *) Feature: added the 'ssl_pass_phrase_dialog' directive. (Weiyue)

    *) Feature: added the '-s start' command line option. (Shudu)

    *) Feature: added '-m' command line option to list all compiled-in modules.
       (Shudu)

    *) Feature: added the 'expires_by_types' directive. (Lizi)

    *) Feature: added the '-l' command line option to list all supported
       directives. (Junmin Xiong)

    *) Feature: added the ngx_atoll() API, which can convert a string to a long
       long integer (64 bits). (Lizi)

    *) Feature: now status lines (302, 405) are RFC-2616 compatibale. (Shudu)

    *) Feature: now ngx_escape_uri/ngx_unescape_uri supports encoding/decoding
       style of Java and PHP. (Shudu)

    *) Feature: now configuration files included are sorted. (Shudu)

    *) Feature: now 'error_page' can be reset to 'default' (Shudu)

    *) Change: turned 'msie_padding' off by default. (Shudu)

    *) Bugfix: fixed a bug when subrequest_in_memory and upstream keepalive
       being used. (Lizi)

    *) Bugfix: fixed a bug in $sent_http_connection and $sent_http_keep_alive.
       (Zhongsheng)

    *) Bugfix: fixed a bug that error_page directive can't detect duplicate
       codes and inherited correctly. (Shudu)

    *) Bugfix: fixed a segmentation fault bug in the FastCGI module, while
       processing duplicated HTTP headers. (Diaoliang)

    *) Bugfix: fixed a bug that file in open_file_cache can't be updated.
       (Weiyue)

    *) Bugfix: fixed a bug in 'worker_cpu_affinity'. (Weiyue)
