.libs
*.swp
*.slo
*.la
*.swo
*.lo
*~
*.o
print.txt
.rsync
*.tar.gz
dist
build[78]
build
tags
update-readme
*.tmp
test/Makefile
test/blib
test.sh
t.sh
t/t.sh
test/t/servroot/
releng
reset
*.t_
.rsync
genmobi.sh
*.mobi
misc/chunked
pm_to_blib
reindex
Makefile
blib
Makefile.old
.project
.includepath
MYMETA.json
MYMETA.yml
